<div class="container">
  <br />
  <mat-card-title *ngIf="!emptyUI" style="margin-left: 60px"
    >Here are all the Photos</mat-card-title
  >

  <mat-spinner *ngIf="toggleSpinner" class="spinner"></mat-spinner>
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let photo of photos" class="card">
      <mat-card class="photo-card" [routerLink]="['/photo-details', photo.id]">
        <img
          mat-card-image
          src="{{ photo.thumbnailUrl }}"
          alt="Photo of a Shiba Inu"
          style="border-bottom: 1px solid grey"
        />
        <h3>Picture AlbumID:{{ photo.albumId }}</h3>
        <h3>Picture Id:{{ photo.id }}</h3>
        <h3>Title: {{ photo.title }}</h3>
      </mat-card>
      <br />
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="emptyUI && !toggleSpinner" style="text-align: center">
    <h1>There are no photos yet</h1>
    <img
      src="https://www.clipartkey.com/mpngs/m/204-2045489_building-map-icon-png.png"
      style="height: 400px"
      alt="logo"
    />
    <h2>Add Your first photo:</h2>
    <button mat-raised-button color="primary" routerLink="/add-photo">
      Add new Photo
    </button>
  </div>
</div>
