<mat-sidenav-container>
  <mat-toolbar color="primary">
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 20px"
      routerLink="/photo-managment"
    >
      Photo Management
    </button>

    <span class="example-spacer"></span>
    <br />

    <button
      mat-raised-button
      color="primary"
      style="margin-left: 20px"
      routerLink="/add-photo"
    >
      Add new Photo
    </button>
  </mat-toolbar>
</mat-sidenav-container>

<router-outlet></router-outlet>
